<aside class="col-md-3 col-sm-3 sidebar">

  <ul class="sidenav dropable sticky">
    <li>
      <a {{ controller in ['sobre','descarga','home'] ? 'class="active"' : '' }} href="#">Introducción</a>
      <ul>
        <li><a {{ controller in ['sobre','home'] ? 'class="active"' : '' }} href="sobre/">Sobre el framework</a></li>
        <li><a {{ controller == 'descarga' ? 'class="active"' : '' }} href="descarga/">Descarga e Instalación</a></li>
      </ul>
    </li>

    <li><a {{ controller == 'controladores' ? 'class="active"' : '' }} href="controladores/">Controladores</a></li>
    <li><a {{ controller == 'rutas' ? 'class="active"' : '' }} href="rutas/">Rutas</a></li>
    <li>
      <a {{ controller == 'helpers' ? 'class="active"' : '' }} href="#">Helpers</a>
      <ul>
        <li><a {{ (controller == 'helpers' and method == null) ? 'class="active"' : '' }} href="helpers/">Los Helpers</a></li>
        <li><a {{ method == 'arrays' ? 'class="active"' : '' }} href="helpers/arrays/">Arrays</a></li>
        <li><a {{ method == 'files' ? 'class="active"' : '' }} href="helpers/files/">Files</a></li>
        <li><a {{ method == 'strings' ? 'class="active"' : '' }} href="helpers/strings/">Strings</a></li>
        <li><a {{ method == 'emails' ? 'class="active"' : '' }} href="helpers/emails/">Emails</a></li>
        <li><a {{ method == 'bootstrap' ? 'class="active"' : '' }} href="helpers/bootstrap/">Bootstrap</a></li>
        <li><a {{ method == 'paypal' ? 'class="active"' : '' }} href="helpers/paypal/">Paypal</a></li>
      </ul>
    </li>
    <li><a {{ controller == 'modelos' ? 'class="active"' : '' }} href="modelos/">Modelos</a></li>


    <li><a {{ controller == 'funciones' ? 'class="active"' : '' }} href="funciones/">Funciones</a></li>
    <li><a {{ controller == 'sesiones' ? 'class="active"' : '' }} href="sesiones/">Sesiones</a></li>
    <li><a {{ controller == 'phpfirewall' ? 'class="active"' : '' }} href="phpfirewall/">Firewall</a></li>
    <li><a {{ controller == 'debugger' ? 'class="active"' : '' }} href="debugger/">Debug</a></li>
    <li><a {{ controller == 'generador' ? 'class="active"' : '' }} href="generador/">Generador de código</a></li>

    <li>
      <a {{ controller == 'vistas' ? 'class="active"' : '' }} href="#">Vistas</a>
      <ul>
        <li><a {{ (controller == 'vistas' and method == null) ? 'class="active"' : '' }} href="vistas/">Vistas</a></li>
        <li><a {{ method == 'plates' ? 'class="active"' : '' }} href="vistas/plates/">PlatesPHP</a></li>
        <li><a {{ method == 'twig' ? 'class="active"' : '' }} href="vistas/twig/">Twig</a></li>
      </ul>
    </li>

    <li><a {{ controller == 'apirest' ? 'class="active"' : '' }} href="apirest/">Api Rest</a></li>

  </ul>

</aside>
