<aside class="col-md-3 col-sm-3 sidebar">
  <ul class="sidenav dropable sticky">
    <li>
      <a {{ controller in ['sobre','descarga','home'] ? 'class="active"' : '' }} href="#">Introducci贸n</a>
      <ul>
        <li><a {{ controller in ['sobre','home'] ? 'class="active"' : '' }} href="sobre/">Sobre el framework</a></li>
        <li><a {{ controller == 'descarga' ? 'class="active"' : '' }} href="descarga/">Descarga y Configuraci贸n</a></li>
      </ul>
    </li>
    <li><a {{ controller == 'estructura' ? 'class="active"' : '' }} href="estructura/">Estructura</a></li>
    <li><a {{ controller == 'controladores' ? 'class="active"' : '' }} href="controladores/">Controladores</a></li>
    <li><a {{ controller == 'rutas' ? 'class="active"' : '' }} href="rutas/">Rutas / URL Amigables</a></li>
    <li><a {{ controller == 'vistas' ? 'class="active"' : '' }} href="vistas/">Vistas (Twig)</a></li>
    <li><a {{ controller == 'http' ? 'class="active"' : '' }} href="http/">Peticiones HTTP</a></li>
    <li>
      <a {{ controller == 'helpers' or method in ['arrays','bootstrap','emails','files','strings','functions'] ? 'class="active"' : '' }} href="#">Helpers</a>
      <ul>
        <li><a {{ controller == 'helpers' ? 'class="active"' : '' }} href="helpers/">Uso y Creaci贸n</a></li>
        <li><a {{ method == 'arrays' ? 'class="active"' : '' }} href="helpers/arrays/">Arrays</a></li>
        <li><a {{ method == 'emails' ? 'class="active"' : '' }} href="helpers/emails/">Emails</a></li>
        <li><a {{ method == 'files' ? 'class="active"' : '' }} href="helpers/files/">Files</a></li>
        <li><a {{ method == 'strings' ? 'class="active"' : '' }} href="helpers/strings/">Strings</a></li>
        <li><a {{ method == 'functions' ? 'class="active"' : '' }} href="helpers/functions/">Funciones</a></li>
      </ul>
    </li>
    <li>
      <a {{ controller == 'modelos' or id in ['database'] ? 'class="active"' : '' }} href="#">Modelos</a>
      <ul>
        <li><a {{ controller == 'modelos' ? 'class="active"' : '' }} href="modelos/">Uso y Creaci贸n</a></li>
        <li><a {{ id == 'database' ? 'class="active"' : '' }} href="modelos/caracteristicas/database/">Bases de Datos</a></li>
      </ul>
    </li> 
    <li><a {{ controller == 'debug' ? 'class="active"' : '' }} href="debug/">Depurador / Debug</a></li>
    <li><a {{ controller == 'rest' ? 'class="active"' : '' }} href="rest/">API Rest</a></li>
  </ul>

</aside>
